[submodule "ball"]
	path = ball
	url = https://github.com/HTUR5/ball.git
[submodule "chart_b"]
	path = chart_b
	url = https://github.com/HTUR5/chart_b.git
[submodule "orgChart_a"]
	path = orgChart_a
	url = https://github.com/HTUR5/orgChart_a.git
[submodule "coup-b"]
	path = coup-b
	url = https://github.com/HTUR5/coup-b.git
[submodule "coup-a"]
	path = coup-a
	url = https://github.com/HTUR5/coup-a.git
[submodule "matrix-b"]
	path = matrix-b
	url = https://github.com/HTUR5/matrix-b.git
[submodule "matrix-a"]
	path = matrix-a
	url = https://github.com/HTUR5/matrix-a.git
[submodule "notebook-b"]
	path = notebook-b
	url = https://github.com/HTUR5/notebook-b.git
[submodule "Notebook-a"]
	path = Notebook-a
	url = https://github.com/HTUR5/Notebook-a.git
[submodule "mat-b"]
	path = mat-b
	url = https://github.com/HTUR5/mat-b.git
